{{- $labels := include "common.labels" . -}}
{{- $svcport := .Values.service.port -}}

{{/* 1. Standard Ingress */}}
{{- if .Values.ingress.enabled -}}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ include "common.fullname" . }}
  labels:
    {{- $labels | nindent 4 }}
  annotations:
    {{- with .Values.ingress.annotations }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
spec:
  ingressClassName: {{ .Values.ingress.ingressClassName | default "nginx-internal" }}
  tls:
    {{- range .Values.ingress.hosts }}
    {{- /* Naming Helpers for standard hosts */ -}}
    {{- $hostwithdashestls := printf "%s-tls" .host | replace "." "-" }}
    - hosts:
        - {{ .host | quote }}
      secretName: {{ .secretName | default $hostwithdashestls }}
    {{- end }}
  rules:
    {{- range .Values.ingress.hosts }}
    - host: {{ .host | quote }}
      http:
        paths:
          {{- range .paths }}
          - path: {{ .path }}
            pathType: {{ .pathType | default "ImplementationSpecific" }}
            backend:
              {{- toYaml .backend | nindent 14 }}
          {{- end }}
    {{- end }}
{{- end }}

{{/* 2. Google CAS Ingress */}}
{{- if and .Values.googleIngress .Values.googleIngress.enabled -}}
---
{{- /* Naming Helpers for the CAS host */ -}}
{{- $hostwithdashes := printf "%s" .Values.googleIngress.host | replace "." "-" -}}
{{- $hostwithdashestls := printf "%s-tls" .Values.googleIngress.host | replace "." "-" }}

apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  # Uses the sanitized host name so ArgoCD sees it as a unique resource
  name: {{ include "common.fullname" . }}-{{ $hostwithdashes }}
  labels:
    {{- $labels | nindent 4 }}
  annotations:
    {{- if .Values.googleIngress.issuerKind }} ## if this is used, we know it is a google-cas signed cert
    cert-manager.io/issuer-group: {{ .Values.googleIngress.issuerGroup | default "cas-issuer.jetstack.io" | quote }}
    cert-manager.io/issuer-kind: {{ .Values.googleIngress.issuerKind | default "GoogleCASClusterIssuer" | quote }}
    cert-manager.io/issuer-name: {{ .Values.googleIngress.issuerName | default "google-cas-cluster-issuer" | quote }}
    {{- end }}
    kubernetes.io/ingress.class: {{ .Values.googleIngress.ingressClass | default "nginx-internal" | quote }}
    {{- if .Values.googleIngress.tlsAcme }} ## if this is used we know it is a public certificate signed by letsencrypt
    kubernetes.io/tls-acme: {{ .Values.googleIngress.tlsAcme | default "true" | quote }}
    cert-manager.io/cluster-issuer: {{ .Values.googleIngress.clusterIssuer | default "google-letsencrypt" | quote }}
    {{- end }}
    {{- with .Values.googleIngress.annotations }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
spec:
  ingressClassName: {{ .Values.googleIngress.ingressClass | default "nginx-internal" | quote }}
  tls:
    - hosts:
        - {{ .Values.googleIngress.host | quote }}
      # Defaults to the sanitized name if no secretName is provided in values
      secretName: {{ .Values.googleIngress.tlsSecretName | default $hostwithdashestls }}
  rules:
    - host: {{ .Values.googleIngress.host | quote }}
      http:
        paths:
          - path: {{ .Values.googleIngress.path | default "/" }}
            pathType: ImplementationSpecific
            backend:
              service:
                name: {{ include "common.fullname" . }}
                port:
                  number: {{ $svcport | default 5000 }}
{{- end }}
